--- 
import { SHOW_BUY_BUTTON } from "astro:env/server";
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import AmazonLogo from "../../components/AmazonLogo.astro";
import FlowerScore from "../../components/FlowerScore.astro";
import BuyButton from "../../components/BuyButton.astro";

export async function getStaticPaths(){
    const flowers = await getCollection('flowers');

    return flowers.map((flower) => ({
        params: { id: flower.slug },
        props: { flower }
    }))
}

const { flower } = Astro.props
const { data, slug } = flower
const { title, img, buy } = data

const { Content } = await render(flower)

export const prerender = true
---

<Layout title={`${title} - Flowers Store`}>
    <div class="flex gap-12">
        <aside class="flex flex-col items-center gap-4">
            <a href="/" class="hover:underline opacity-75">⬅ Volver atrás</a>
            <img transition:name={`img-${slug}`} class="rounded w-72 h-auto" src={`/${img}`} alt={title}/> 
            
            <FlowerScore server:defer id={slug}>
               <span slot="fallback" class="text-xs opacity-70" id="score">Cargando puntuación...</span>
            </FlowerScore>

            {
                SHOW_BUY_BUTTON && <BuyButton server:defer buy= { buy }/> 
                   
            }
        </aside>
        <main class="max-w-3xl">
            <h1 transition:name={`title-${slug}`} class="text-4xl font-bold mb-4">{title}</h1>
            <div class="prose prose-invert">
                <Content/>
            </div>
        </main>
    </div>
</Layout>
